
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación de Vuelos{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
</head>
<body>
    <header class="bg-primary text-white p-3">
        <div class="container">
            <h1>Bienvenido a la Aplicación de Vuelos</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'register_flight' %}">Registrar vuelos</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'list_flights' %}">Listar vuelos</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'flight_statistics' %}">Estadísticas de vuelos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container my-4">
        {% block content %}

        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
