<!-- vuelos/templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación de Vuelos{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenido a la Aplicación de Vuelos</h1>
        <nav>
            <ul>
                <li><a href="{% url 'register_flight' %}">Registrar vuelos</a></li>
                <li><a href="{% url 'list_flights' %}">Listar vuelos</a></li>
                <li><a href="{% url 'flight_statistics' %}">Estadísticas de vuelos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- El contenido específico de cada vista se incluirá aquí -->
        {% endblock %}
    </main>
</body>
</html>
