
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Listado de Vuelos</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>
                    {% if flight.flight_type == "Internacional" %}
                        <strong>{{ flight.name }}</strong>
                    {% else %}
                        {{ flight.name }}
                    {% endif %}
                </td>
                <td>
                    {% if flight.flight_type == "Nacional" %}
                        <span class="text-primary">{{ flight.flight_type }}</span>
                    {% else %}
                        {{ flight.flight_type }}
                    {% endif %}
                </td>
                <td>
                    {% if flight.flight_type == "Nacional" %}
                        <span class="text-primary">{{ flight.price }}</span>
                    {% else %}
                        {{ flight.price }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

